/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #f1c40f, #e67e22);
    color: #333;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

/* Container */
.container {
    text-align: center;
}

.present {
    width: 150px;
    height: 150px;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    overflow: hidden; /* Prevents overflow if sprite size is larger than container */
}

.present:hover {
    transform: scale(1.1);
}
.present-image {
    width: 100%; 
    height: auto;
    object-fit: contain; 
}


.present::before {
    width: 20px;
    height: 150px;
}

.present::after {
    width: 150px;
    height: 20px;
}

/* Letter */
.letter {
    display: none;
    margin-top: 20px;
    padding: 20px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    animation: slideIn 0.6s ease-out;
    max-width: 300px;
}

.letter p {
    margin: 0 0 10px;
    font-size: 1.2rem;
    color: #555;
    line-height: 1.5;
}

/* Animations */
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
